
.accordion {
    background-color: rgb(226, 219, 219);
    cursor: pointer;
    padding: 18px;
    width: 50vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    line-height: -10rem;
  }
  
  .active, .accordion:hover {
    background-color: rgb(138, 184, 166);
  }
  
  .panel {
    width: 50vw;
    padding: 0 18px;
    background-color:rgba(251, 251, 255, 0.548);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  button{
    width: 5vw;
    height: 5vh;
    background-color: transparent;
  }
 

  body {
    background-image: url("backgroundmountains.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    font-family: "Poppins";
  }
